
.buttonStyle {
    height: 2em;
    width: 4em;

    background-color: #157fe9;
    transition: 0.3s;

    border-radius: 0.4em;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttonStyle:hover {
    transition: 0.5s;
    background-color: #157fe991;
    
}