.viewLogin{
    
    height: 50em;
    width: 100vw;
    background-color: rgb(168, 224, 231);
    display: flex;
    opacity: 2;
    
}

.loginPic{
    height: 50em;
    width: 100vw;
    background-image: url('https://images.pexels.com/photos/305568/pexels-photo-305568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background: linear-gradient(rgba(255,255,255,.2));
    /* position: relative; */
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    
}
.cardLogin{
    background-color: #157fe97e;
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2em;    
}

.emailInput{
    justify-self: center;
    align-self: center;
    width: 15em;
}

.passInput{
    justify-self: center;
    align-self: center;
    width: 15em;
}

.showPWDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.showPW{
    justify-self: center;
    align-self: center;

}
.showPWText{
    font-size: 0.7em;

}

.loginBtn{
    justify-self: center;
    align-self: center;
    width: 7em;
    margin-top: 2em;
    margin-bottom: 1em;
}