.viewLogin {
    
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display:flex;
    opacity: 1;
    align-content: center;
    justify-content: center;
    
}

.cardLogin {
    background-color: #ffffff;
    width: 25em;
    height: 23em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 2em;    
    box-shadow: 0.3em 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.247);
    margin: auto;
    font-family: 'Orbitron', sans-serif;

    
}

.emailInput {
    justify-self: center;
    align-self: center;
    width: 15em;
    height: 1em;
    border-radius: 2em;
    outline-width: 0;
}

.passInput {
    justify-self: center;
    align-self: center;
    width: 15em;
    height: 1em;
    border-radius: 2em;
    outline-width: 0;
}

.showPWDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.showPW {
    justify-self: center;
    align-self: center;

}

.showPWText {
    font-size: 0.7em;

}

.loginBtn {
    justify-self: center;
    align-self: center;
    width: 7em;
    margin-top: 2em;
    margin-bottom: 1em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.247);

}

.createAccount {
    color: rgb(5, 5, 5);
    cursor: pointer;
}

.createAccount:local-link {
    color: rgb(2, 27, 248);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

.buttonLog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.select{
    justify-self: center;
    align-self: center;
    width: 8em;
    height: 2em;
    border-radius: 2em;
}

.errorMessage{
    font-size: 0.8em;
}
