.viewRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.loginBtn {
    cursor: pointer;
}

.formRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40em;
    width: 100%;
    background-color: teal;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;

}