.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5em;
}

.top{
    display: flex;
    flex-direction: row;
}

.buttonStyle {
    height: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.promoIMG{
    height: 40em;
    width: 100vw;
}


.midSec{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-evenly;
}

.text1Div{
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
    height: 25em;
    width: 25em;
    
    font-size: larger;
    margin-top: 2em;
    
}

.text20{
    height: 25em;
    width: 25em;
    font-size: medium;
}

.whereAre{
    margin-right: 2em;
    height: 40em;
    width: 60em;
    background-color: rgba(85, 107, 47, 0);
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 9px 19px 5px rgba(0,0,0,0.67);
}

.map{
    height: 40em;
    width: 40em;
    background-color: darkred;
}

.whereMap{
    height: 40em;
    width: 40em;
}

.whereText{
    height: 40em;
    width: 20em;
    background-color: rgba(135, 163, 222, 0.221);
}

.whatsappIcon{
    height: 1.5em;
    width: 1.5em;
}

.emailIcon{
   
    height: 1.5em;
    width: 1.5em;
    
}

.botTop{
    display: flex;
    flex-direction: row;
}
.botBot{
    display: flex;
    flex-direction: row;
}

.card{
    height: 14em;
    width: 14em;
    margin-right: 2em;
    margin-top: 2em;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    border: solid 0.2em black;
    display: flex;
    flex-direction: column;

}

.cardIcon{
    height: 12em;
    width: 14em;
}

.protesisImg{
    height: 12em;
    width: 14em;
}

.bracketImg{
    height: 12em;
    width: 14em;
}

.invisibleImg{
    height: 12em;
    width: 14em;
}

.limpiezaImg{
    height: 12em;
    width: 14em;
}


.carillaImg{
    height: 12em;
    width: 14em;
}

.cariesImg{
    height: 12em;
    width: 14em;
}

.alitosisImg{
    height: 12em;
    width: 14em;
}

.ronquidosImg{
    height: 12em;
    width: 14em;
}


