.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5em;
}

.top{
    display: flex;
    flex-direction: row;
}

.buttonStyle {
    height: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.promoIMG{
    height: 40em;
    width: 100vw;
}


.midSec{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-evenly;
}

.text1Div{
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
    height: 25em;
    width: 25em;
    
    font-size: larger;
    margin-top: 2em;
    
}

.text20{
    height: 25em;
    width: 25em;
    font-size: medium;
}

.whereAre{
    margin-right: 2em;
    height: 40em;
    width: 60em;
    background-color: darkolivegreen;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
}

.map{
    height: 40em;
    width: 40em;
    background-color: darkred;
}

.whereText{
    height: 40em;
    width: 20em;
    background-color: burlywood;
}

.botTop{
    display: flex;
    flex-direction: row;
}
.botBot{
    display: flex;
    flex-direction: row;
}


.card{
    height: 14em;
    width: 14em;
    margin-right: 2em;
    margin-top: 2em;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    border: solid 0.2em black;

}