
.promo{
    height: 10em;
    width: 100vw;
    background-color: crimson;
   
}

.p1 {
    margin-bottom: 1em;
    background-color: rgb(67, 139, 0);
}

.text{
    height: 10em;
    width: 100vw;
    text-align: justify;
}

.buttons{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 3em;
   
    
}


.buttonAdmin{
    height: 7em;
    width: 10em;
    background-color: rgb(42, 71, 165);
    border-radius: 2em;
    transition: 0.2s;
    
}

.buttonAdmin:focus{
    outline: 0;
}
.buttonAdmin:hover{
    height: 6.5em;
    width: 9.5em;
    background-color: rgba(42, 71, 165, 0.411);
    border-radius: 2em;
    transition: 0.2s;
}

.appointment{
    margin-right: 3em;  
}